// TYPOGRAPHY
// -----------
// NOTE: The typographic boilerplate I’m using encorporates
// slightly modified version of the Typeplate typescale mixins.
// Check out typeplate at: www.typeplate.com
// It uses a major third typescale.

// Start with the basics
:root {
  font-family: $interface-font-stack;
  line-height: $line-height;
  font-weight: $base-font-weight;
  font-size: $font-base + px;
  // Transition to linear responsive function?
  // font-size: calc(1rem + 0.25vw);

  @include bp(sm) {
    // font-size: 18px;
  }

  @include bp(md) {}
}

// Get some nice typeographic scale going
@include type-headings;
@include type-headings-style;

// Base header styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-stack;
  color: $secondary-color;
  font-weight: 700;
  margin: 0;
  // line-height: $phi;
  margin-top: $phi * $font-base * 1px;
  margin-top: $phi * $font-base * 1px;
}

// Nice margins to match header sizing
h1,
h2 {}

h3,
h4 {
  // margin-bottom: 1.5rem;
}

h5,
h6 {
  @extend .smcp;
}

// Readable body text
p {
  font-family: $text-font-stack;
}

p {
  text-indent: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

p:first-of-type,
hr+p {
  text-indent: 0;
}

%dropcap {
  color: $secondary-color;
  text-transform: uppercase;
  font-family: 'Linux Libertine Initials O', 'Linux Libertine Initals';
  float: left;
  // font-size: 4.25rem;
  font-size: 4.236rem;
  font-size: 3.14rem;
  // font-size: 2.618rem;
  // padding: 0.33rem 0.33rem 0 0;
  padding: 0.236rem 0.236rem 0 0;


}

p:first-of-type:first-letter,
hr+p:first-letter {
  @extend %dropcap;
}

p:first-of-type:first-line {
  text-transform: uppercase;
}

// Put meta kinds of things in sans-serif
footer,
aside {
  font-family: $interface-font-stack;
}