// ASIDES
// --------------
// This component lets you use the <aside> tag in an article for snide comments
// or to provide more details or context. Add "note" class to add a stylized
// astrisk to the corner of the box.


aside {
  @include bp(md) {
    width: 40%;
    float: right;
    margin-right: 0;
    margin: ($phi * 0.5) + rem $phi + rem;
  }
}

aside > h1,
aside > h2,
aside > h3,
aside > h4,
aside > h5,
aside > h6 {
  margin-top: 1rem;
}

aside p {
  // font-family: $interface-font-stack;
}

aside p:last-of-type {
  margin-bottom: 0;
}

aside.full,
aside.full-width {
  @include bp(md) {
    margin: $phi + rem 0 (2 * $phi) + rem 0;
  }
}

aside.note:before {
  position: relative;
  // font-family: $interface-font-stack;
  font-weight: 900;
  color: $tertiary-color;
  right: 1rem;
  content: '*';
  @extend .timeless-beta;
  line-height: 0;
  float: left;
}
