// FIGURES
// -------
// Default styles for figures and their captions

main img {
  margin: 1.5rem 0;
}

figure:not(.plain) {
  margin: 1.5rem auto;
  text-align: center;
}

img:has(+ figcaption) { // not supported yet...
  margin-bottom: 0;
}

figcaption {
  font-family: $interface-font-stack;
  font-size: 0.8rem;
  padding: 1rem;
  margin-top: 0;
}

.thumb,
figure.thumb {
  width: 100%;
  margin: 1rem auto;
  line-height: 1;

  @include bp(sm) {
    float: right;
    max-width: 225px;
    margin: 0.5rem 0 0.5rem 1rem;
  }
}

.thumb img.full-img {
  margin: 0 auto;
  width: 100%;
}
