/**
* ◊SOCIAL SHARING BUTTONS
* -----------------------
* At the moment this component just makes the font-awesome icons for twitter,
* facebook, and google+ turn their brand colour on hover.
*/

.share {
}

.share .fa-twitter:hover {
  color: #4099FF;
}

.share .fa-facebook:hover {
  color: #3a5795;
}

.share .fa-google-plus:hover {
  color: #dd4b39;
}

